.navLink{
  background-color: #330662;
}

.navLinkBtn{
  font-size: x-large;
  font-weight: bolder;
  color: white;
}
body{
  height: 100%;
  width: 100%;
  background-color: #330662;
  background-attachment: fixed;
}
