.loginForm{
    background-color: white;
    margin-top: 10px;
    margin-left:30%;
    margin-right: 30%;
    padding-top: 40px;
    text-align: center;
}
.title{
    font-size: x-large;
    font-weight: bolder;
    
    margin-bottom: 30px;
}
.inputTool{
    margin-bottom: 20px;
}
.input {
    margin-left:0px;
    outline: 0;
    border-width: 0 0 2px;
  
}

.submitBtn{
    margin-top: 40px;
    text-align: center;
    
}
.submitButn{
    background-color: #330662;
    width: 30%;
    margin-bottom: 50px;
    font-size: larger;
    font-weight: bolder;
}