.nav{
    background-color: #460046;
    padding-top: 20px;
    padding-bottom: 20px;
}

.brand{
    margin-left: 20px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.logout{
    position: absolute;
    right: 20px;
    top:15px;
   
}

.logoutBtn:hover{
    background-color: white;
    color:  #460046;
    ;
}

.logoutBtn{
    border: none;
    background-color: #460046;
    font-weight: bolder;
}

.content{
    text-align: left;
}
.titleName{
    margin-top: 50px;;
    margin-left: 200px;
    font-size: 20px;
    font-weight: bolder;

}
.tagBtn{
    margin-top: 30px;
    margin-left: 200px;
}
.linkBtn{
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #460046;
}